<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Employee Portal | Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--<link rel="stylesheet" href="../css/style.css">-->

</head>

<body>

    <div class="container">

        <div class="login-box">

            <h1>Employee Login</h1>

            <form action="{{url_for('home_pages.login_page')}}" method="POST">

                <div class="input-group">

                    <label for="empid">Employee ID</label>

                    <input
                        type="text"
                        id="empid"
                        name="empid"
                        placeholder="Enter Employee ID"
                        required>

                </div>

                <div class="input-group">

                    <label for="password">Password</label>

                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Enter Password"
                        required>

                </div>

                <div class="options">

                    <label>

                        <input type="checkbox">

                        Remember Me

                    </label>

                <!--<a href="#">Forgot Password?</a>--> 

                </div>

                <button type="submit">

                    Login

                </button>

            </form>

            <div class="footer">

                <p>

                    © 2026 Employee Portal

                </p>

            </div>

        </div>

    </div>

</body>

</html>